@media (max-width: 500px) {
  h2{
    grid-row: 1/3 !important;
  }
  main .products h2 {
    grid-row: 1/3;
  }
  main .products .products-content .product:nth-child(2n){
    padding-right: 0;
}

  main .product:nth-child(2n){
    padding-right: 0;
  }
  main .select{
    width: 100% !important;
    max-width: 90%;
    place-self: end end !important;
    margin-right: 2%;
    font-size:.8em!important;
  }

  main > .content {
    display: block !important;
  }

  main .product-header>  .desc {
    display: none !important;
  }
  main .product-header> H2{
    margin: 0 !important;
  }

  main .products-button {
    margin: 1rem 0;
    display: block !important;
    background: transparent;
    border: none;
    border-bottom: 1px solid palevioletred;
    outline: none;
  }

  main .f-container-button {
    display: inline !important;
    background: transparent;
    border: none;
    outline: none;
  }

  main .product {
    width: 47% !important;
  }

  main .filter {
    display: none !important;
  }

  main .filter-abs {
    z-index: 1;
    width: 100vw;
    display: block !important;
    position: absolute;
    background-color: white;
    animation-name: show;
    animation-duration: .5s;
  }

  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  main {
    padding: 0% 3% !important;
  }

}

main .f-container-button {
  display: none;
}

main .products-button {
  display: none;
}

main > .content {
  display: grid;
  grid-template-columns: 26% 74%;
  grid-template-rows: 1fr;
}

main .filter {
  display: block;
  grid-column: 1/2;
  grid-row: 1/2;
}


main {
  padding: 2rem 20.3%;
}

main .products {
  grid-column: 2/3;
  grid-row: 1/2;
}
.product-header{
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 49.3%;
}

main .products h2 {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size:2rem;
  font-weight: bold;
  margin-bottom: 0em;
  margin-top: 0.5em;
}

main .pink-option {
  background-color: #E253B6;
}

main .products select {
  outline: none;
  margin: auto 0;
  grid-column: 2/3;
  grid-row: 1/2;
  place-self: start end;
  color: #707070;
  padding: 1%;
  -webkit-appearance: none; /* Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* убираем дефолнтные стрелочки */

  background: white;
  border: 2px solid #E253B6;
  border-radius: 4px;
}

main select option:hover {
  box-shadow: 0 0 10px 100px #1882A8 inset;
}

main option:hover, option:focus, option:active {
  background: #E253B6 !important;
  color: #345667;
  border: 100px solid #098765;

}


main option {
  outline-color: red;

}

main .products select:after {

}

main .products .desc {
  grid-column: 1/3;
  grid-row: 2/3;
  margin: 5px 0;
  font-size: .9em;
}

main .products .products-content {
  grid-column: 1/3;
  grid-row: 3/4;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  scrollbar-color: #eee rgba(0, 0, 0, 0);
  scrollbar-width: thin;
  padding-right: 1rem;
  height: 47rem;
  align-content: flex-start;
}

main .products .products-content .product {
  width: 17.6%;
  padding: 0 3% 0 0;
  margin-top: 4%;
  
}

@media(min-width: 700px){
  main .products .products-content .product:nth-child(5n){
    padding-right: 0;
  }
}

main .products .products-content .product img {
  width: 100%;
  border-radius: .3rem;
}

main .price {
  color: #343434;
  font-weight: 700;
  font-size: 1.2em;
}

main .price::after {
  content: " ₽";
}

main .hide {
  display: none;
}

main .hide:checked ~ .hide-l {
  transform: rotate(180deg);
}

main .hide-l {
  background: url(../posters-catalog-posters/up.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 15px;
  height: 15px;
  display: block;
}

main .hide:checked ~ div {
  display: none;
}
.orient ul{
  margin: 0;
}
.orient h3{
  margin-bottom: .8rem;
}
.slider-p{
  width: 100%;
  grid-row: 3/4;
  grid-column: 1/4;
  padding-top: 1.2rem;
}
main .f-container {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

main .f-container h3 {
  grid-row: 1/2;
  grid-column: 1/2;
}

main .f-container .hide-l {
  transform: rotate(0deg);

  margin-top: 20px;
  grid-row: 1/2;
  grid-column: 2/3;
  place-self: start end;
}

main .f-container > div {
  grid-column: 1/3;
  grid-row: 2/3;
}

main .s-container .g-search {
  border: 1px solid #70707040;
  border-radius: 4px;
  color: #FFC0EF;
  width: 90%;
  padding: 7px;
}

main ul input {
  display: none;
}

main .s-container ul {
  height: 15em;
  overflow-y: scroll;
  scrollbar-color: #eee rgba(0, 0, 0, 0); /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin;
}

main .s-container ul::-webkit-scrollbar {
  width: 8px; /* ширина для вертикального скролла */
  height: 24px; /* высота для горизонтального скролла */
  background-color: #f0f0f0;
}

/* ползунок скроллбара */
main .s-container ul::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0);
}

main .s-container .g-search:active, .s-container .g-search:focus {
  color: #707070;
}

main .num::before {
  content: "(";
}

main .num::after {
  content: ")";
}


  /*---------------------------------------*/
  /* для элемента input c type="checkbox" */
main .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
main .custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
main .custom-checkbox + label{
  margin-bottom: .5rem;
}
/* создание в label псевдоэлемента before со следующими стилями */
main .custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd90;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на checkbox */
main .custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #F364C8;
}

/* стили для активного чекбокса (при нажатии на него) */
main .custom-checkbox:not(:disabled):active + label::before {
  background-color: #E253B6;
  border-color: #F364C8;
}


/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
main .custom-checkbox:focus:not(:checked) + label::before {
  border-color: #F364C8;
}

/* стили для чекбокса, находящегося в состоянии checked */
main .custom-checkbox:checked + label::before {
  border-color: #F364C8;
  background-color: #E253B6;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

main /* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled + label::before {
  background-color: #e9ecef;
}

main .checkbox {
  margin-bottom: 1em;
}

main .color-container img {
  width: 15%;
}

main .p-container, .size-container {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  grid-template-rows: auto;
}

main .start-p {
  grid-column: 1/2;
  grid-row: 1/2;
}

main .end-p {
  grid-column: 3/4;
  grid-row: 1/2
}

main input.start {
  grid-column: 1/2;
  grid-row: 2/3;
}

main input.end {
  grid-column: 3/4;
  grid-row: 2/3;
}

main input.end, input.start {
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  width: 100%;
  margin-top: 6%;
  padding: 3% 1%;
}

main .x {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: auto;
  padding-left: 2px;
}

main .slider-choice {
  margin-top: 5%;
  grid-column: 1/4;
  grid-row: 3/4;
}

main .article {
  font-size: 0.7em;
}

main .more-products {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

main .more20 {
  width: fit-content;
  margin: 3% auto;

  grid-column: 1/2;
  grid-row: 1/2;

  color: #707070;
  padding: .7% 2rem;
  background: white;
  border: 2px solid #E253B6;
  color: #E253B6;
  border-radius: 4px;
  font-size: 1.1em;
}

main .f-container .o-container{
  margin: 0;
}

main .pages {
  grid-row: 2/3;
  grid-column: 1/2;

  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: 0 auto;
}


main .pages > * {
  background: white;
  width: 2.5rem;
  height: 2.5rem;
}

main .wrap > * {
  background: white;
  color: #E253B6;
  border-radius: 4px;

  border: none;
  width: 100%;
  height: 100%;

}

main .pages label {
  display: block;
}

main .pages label > span {
  display: block;
  margin: auto;
  text-align: center;
  padding-top: .7rem;

}

main .num-page {
  display: none;
}
.pages img{
  height: 60%;

}
main .pages .wrap:nth-child(1){
  margin-right: 2rem;
}
main .pages .wrap:last-child{
  margin-left: 2rem;
}
main .left, main  .right {
  color: #707070;
  font-weight: 700;
  padding-top: .2rem;
}
main .left:hover, main  .right:hover {
  background-color: white !important;
  }

main .pages label:hover, main .more-products .left:hover, main .more-products .right:hover,main  .num-page:checked ~ label,main .dot-page:hover {
  background: #E253B6;
  color: white;
}

main  .more-products {
  grid-row: 4/5;
}

main .s-hidden {
	visibility:hidden;
	padding-right:10px;
}
main .select {
  width: 42ch;
  text-align: left;
  outline: none;
	color: #707070;
	-webkit-appearance: none; /* Chrome */
	-moz-appearance: none; /* Firefox */
	appearance: none; /* убираем дефолнтные стрелочки */
	background: white;
	border: 2px solid #E253B6;
	border-radius: 4px;
	place-self: center end;
	height: fit-content;
	cursor:pointer;
	display:inline-block;
	position:relative;
	font:normal 11px/22px Arial, Sans-Serif;
  font-size: .7rem;
  padding: .2rem; 
}
main .styledSelect {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:white;
	padding:7px 10px;
}
main .styledSelect:after {
	content:"";
	width:0;
	height:0;
	border:5px solid transparent;
	position:absolute;
	top:9px;
	right:6px;
}
main .options {
  border-radius: 5px;
	display:none;
	position:absolute;
	top:100%;
	right:0;
	left:0;
	z-index:999;
	margin:0 0;
	padding:0 0;
	list-style:none;
	border:1px solid #ccc;
	background-color:white;
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
}
main .options li {
	margin:0 0;
	padding:0 10px;
}
main .options li:hover {
	background-color: #FFC0EF;
	color:#707070;
}

main .noUi-connect {
  background: #E253B6 !important;
}

main .noUi-handle {
  border: 1px solid #8c346f !important;
  border-radius: 30px !important;
  background: #e253b6 !important;
  cursor: default;
  box-shadow: none !important;
}

main .noUi-horizontal {
  height: 0.5rem !important;
}

main .noUi-horizontal .noUi-handle {
  width: 1.3rem !important;
  height: 1.3rem !important;
  right: -17px;
  top: -0.45em !important;
}

main .noUi-handle::after, .noUi-handle::before {
  content: none!important;
}


main .select {
  width: 25ch;
  place-self: end;
  font-size: 1rem;
}

main .options li {
  padding: 5px 10px;
  border-bottom: 1px solid #70707040;
}

@media (min-width: 481px) {
  html .pages button{
    border: none !important;
  }
  html main  button{
    border:2px solid #E253B6 !important;
  }
  html main button:hover{
    background-color: #E253B6 !important;
    color: #fff !important;
  }


}
html main .product{
  position: relative;
}
html main  .sale{
  display: none;
}
html main .saled .sale{
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 45%;
}

@media (min-width: 481px) and (max-width: 960px){
  .select{
    max-width: 100%;
  }
  main .content{
    grid-template-columns: 34% 66%;
  }
  main .content .product{
    width: 30% !important;
    padding-right: 3% !important;
  }

  main .content .product:nth-child(3n){
    margin-right: 0;
  }
}

@media (min-width: 481px) and (max-width: 600px){
  .select{
    font-size: .8rem!important;
  }
}
@media (max-width: 400px) {
  .select{
    height: 3.5em !important;
    width: 95% !important;
  }
}