main{
	padding: 2rem 20.3%;
}

main h2{
	font-weight: 700;
	font-size: 2.16em;
	padding-bottom: 1em;
}
main h3{
	margin-bottom: .1rem;
}
main .content{
	/*display: grid;*/
	/*grid-template-columns: 1fr 1fr;*/
	/*grid-template-rows: 1fr;*/
}
main .content .product_card{
	max-width: 55%;
	float: left;
	/* padding-right: 5%; */
	grid-row: 1/2;
	grid-column: 1/2;
}

main .content .settings{
	float: right;
	padding-left: 5%;
	width: 40%;
	grid-row: 1/2;
	grid-column: 2/3;
}

footer{
	float: left;
}
main .content .product_card>div{
	width: 100%;
}
main .content .product_card .main-photo {
	text-align: center;
}

main .content .product_card .main-photo img{
	width: 73%;
}
main .content .product_card .gallery{
	margin: 5% 0;
	display: flex;
}
main .content .product_card .gallery img{
	/*width: 30%;*/
	padding: 0 1%;
}
main .actions > div{
	/*margin: auto;*/
}
main .actions{
	width: unset !important;
	background: rgba(241, 241, 241, 0.3);
	margin: 2rem 0;
	padding: 1rem 2.4rem 1rem 3.8rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	row-gap: .7rem;
	column-gap: 3.8rem;

}

main .gallery{
	border-bottom: 1px solid #F1F1F1;
	padding-bottom: 2rem;
}

main .actions .price{
	color: #E253B6;
	font-size: 2.5em;
	grid-row: 1/2;
	grid-column: 1/2;
	font-weight: 700;
}
main .actions .price:after{
	content: " ₽";
}
main .actions .add, main .actions .buy{
	width: 100%;
}

main .actions .add{
	grid-row: 2/3;
	grid-column: 1/2;
}
main .actions .like-it, main .actions .price{
}
main .actions .like-it{
	margin-top:0.5em;
	display: flex;
	grid-row: 1/2;
	font-size: 0.9em;
	grid-column: 2/3;
}

main .actions .like-it img{
	margin-right: 5%;
	width: auto !important;
}

main .actions .buy{
	grid-row: 2/3;
	grid-column: 2/3;
}
main .actions .buy button{
	color: #E253B6;
	background: white;
	border: 1px solid #E253B6;
}

main .actions .add button{
	color: white;
	background: #E253B6;
	border: none;
}

main .actions button{
	width: 100%;
	border-radius: 4px;
	display: block;

}

main .like-it{
/*	margin: auto;*/
}

main .like-it input{
	display: none;
}

main .like-it label{
	display: flex;
	flex-direction: row;
	width: 100%;
}
.like-img{
	width: 3rem;
	height: 2rem;
	background-repeat: no-repeat !important;
	background-size: contain !important;
	background: url(../product-card/like.svg)
}
main .like-it input:checked + label .like-img{
	background: url(../product-card/liked.svg)
}


/*setting*/

main .size{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	column-gap: 2rem;
	max-width: 79%;
}

main .start-p{
	grid-column: 1/2;
	grid-row: 1/2;
}
main .end-p{
	grid-column: 2/3;
	grid-row: 1/2
}
main input.start{
	grid-column: 1/2;
	grid-row: 2/3;
}

main input.end{
	grid-column: 2/3;
	grid-row: 2/3;
}

main input.end, input.start{
	border: 1px solid #d6d6d6;
	border-radius: 4px;
	width: 94%;
	margin-top: 6%;
	padding: 3% 1%;
}
main .slider-choice{
	margin-top: 5%;
	grid-column: 1/5;
	grid-row: 3/4;
}

main .noUi-connect {
	background: #E253B6 !important;
}

main .noUi-handle {
	border: 1px solid #8c346f !important;
	border-radius: 30px !important;
	background: #e253b6 !important;
	cursor: default;
	box-shadow: none !important;
}

main .noUi-horizontal {
	height: 0.5rem !important;
}

main .noUi-horizontal .noUi-handle {
	width: 1.3rem !important;
	height: 1.3rem !important;
	right: -17px;
	top: -0.45em !important;
}

main .noUi-handle::after, .noUi-handle::before {
	content: none!important;
}

main .pic-container/*, .nopic-container*/{
	display: block;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
	margin: 0 3rem 0 0;
	padding-right: 2rem
}


main .pic-container img{
	width: 70%;
	padding:  1rem 1.3rem;
	border: 3px solid #d6d6d6;
	border-radius: 4px;
	grid-row: 1/2;
	grid-column: 1/2;
}

main .pic-container:hover img, input:checked+.pic-container img{
	border-color: #E253B6;
}
main .nopic-container span{
	width: -moz-fit-content;
}
main .pic-container span{
	display: block;
	width: 170%;
	text-align: center;
	grid-row: 2/3;
	grid-column: 1/2;
}
main .nopic-container{
	width: 25%;
}
main .pic-container {
	width: 10%;
	font-size: 0.8em;
}
main .pic-container:last-child , .nopic-container:last-child{
}

main .settings> div input{
	display: none;
}

main .settings> div{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
main .settings> div.size{
	display: grid;
}
main .settings> div.size input{
	display: block;
}

main .nopic-container span:hover, input:checked+.nopic-container span{
	border-bottom: 3px solid #E253B6;
	padding-bottom: 3%;
	
}

main .gallery {
	max-width: 100vw;
}

:root {
	--swiper-theme-color: #343434 !important;
	--swiper-navigation-size: 20px !important;
}

main .swiper-container {
	margin-top: 2rem;
}

main .swiper-button-next, .swiper-button-prev {
	height: 4vh !important;
	width: 4vh !important;
	background-color: white;
	border-radius: 400px;
}

main .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
	z-index: 30 !important;
	position: absolute !important;
	right: -10px !important;
	left: auto;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
	z-index: 30 !important;
	position: absolute !important;
	left: -10px !important;
	right: auto;
}

.swiper-slide img {
	width: 100% !important;
}

.pic-container:nth-child(8n){
	margin-right: 0;
}
.actions button{
	padding-top: .5em;
	padding-bottom: .5em;
}

@media(max-width: 700px){
	.content > div{
		max-width: 98% !important;
		width: 98% !important;
	}
	.price{
		font-size: 2rem !important;
	}
	.like-it{
		width: 65%;
	}

	.content .product_card{
		max-width: initial;
		width: initial;
		float: initial;
	}
	.content .settings{
		width: initial;
		float: initial;
	}
	.content{
		display: block;
	}
	.settings{
		padding: 0 !important;
	}
	.settings .size{
		width: 98%;
	}

}


@media (min-width: 481px) {
	html main .actions .buy button{
		border:2px solid #E253B6 !important;
	}
	html main .actions .buy button:hover{
		background-color: #E253B6 !important;
		color: #fff !important;
	}

	main .actions  .add button {
		border:2px solid #E253B6!important;
	}
	html main .actions .add button:hover{
		background-color: #fff !important;
		color: #E253B6 !important;
	}
  	
}